wip() {
    git add --all
    git commit -m "WIP"
    git push
}

markdown() {
    source ~/.venv/grip/bin/activate
    export FLASK_ENV=development
    grip --pass f240351e80be835e99e0c88c757921619208a995
}

fix_date() {
    sudo hwclock -s
}

mnt() {
    # sudo mount -t drvfs D: /mnt/d
    sudo mount -t drvfs ${1^^}: /mnt/${1,,}
    echo drive avaiable at /mnt/${1,,}
}

nuc() {
    ssh dalealleshouse@10.0.0.181
}
